<!DOCTYPE html>
<html>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      // This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
　　　//pyプログラムから動画ID取得
      var org = {{caught_url|tojson}};
      var video_id = org.value[0];
      
      var player;
      
      function onYouTubeIframeAPIReady() {
　　　　//adjust height and width paramerer for rasberry
        player = new YT.Player(
          'player',
        {
          height: '270',
          width: '480',
          videoId: video_id,// YouTubeのID
          playerVars: {
            autoplay: 1,//自動再生
            controls: 0,//コントローラー非表示
            showinfo: 0,//上部の動画タイトル非表示
            modestbranding: 1,//youtubeロゴコントロールバー表示無効化
            rel: 0 //動画終了時の関連動画表示無効化
          },
          events: {
            onStateChange: function(e){
              if(e.data == YT.PlayerState.ENDED){
                location.href = 'http://localhost:8080'
                //動画再生終了時にrootへ飛ぶ
              }
            }
          }
         } 
        );
      }
    </script>
  </body>
</html>
